.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    backdrop-filter: blur(3px);
    background: rgba(17, 17, 17, 0.678);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow-x: hidden;
    padding-top: 50px;
    transition: 0.5s;
}

.closebtn {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 36px;
    color: #f1f1f1;
    margin-right: 50px;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}